[submodule "thirdparty/ActionSheetPicker"]
	path = thirdparty/ActionSheetPicker
	url = https://github.com/skywinder/ActionSheetPicker-3.0.git
[submodule "thirdparty/SSignalKit"]
	path = thirdparty/SSignalKit
url=git@github.com:peter-iakovlev/Signals.git
[submodule "thirdparty/sqlcipher"]
	path = thirdparty/sqlcipher
	url = https://github.com/sqlcipher/sqlcipher.git
[submodule "Share/submodules/lmdb"]
	path = Share/submodules/lmdb
url=https://github.com/LMDB/lmdb.git
[submodule "submodules/elements"]
	path = submodules/elements
	url = git@bitbucket.org:iakovlevpeterp/elements.git
