[submodule "thirdparty/ActionSheetPicker"]
	path = thirdparty/ActionSheetPicker
	url = https://github.com/skywinder/ActionSheetPicker-3.0.git
[submodule "thirdparty/SSignalKit"]
	path = thirdparty/SSignalKit
url=https://github.com/peter-iakovlev/Signals.git
[submodule "submodules/MtProtoKit"]
	path = submodules/MtProtoKit
	url = git@github.com:iakovlev-peter/MtProtoKit.git
