TELEGRAPH_BUNDLE_ID=ph.telegra.Telegraph
TELEGRAPH_SHARE_BUNDLE_ID=$(TELEGRAPH_BUNDLE_ID).Share
TELEGRAPH_WATCHAPP_BUNDLE_ID=$(TELEGRAPH_BUNDLE_ID).watchkitapp
TELEGRAPH_WATCHEXT_BUNDLE_ID=$(TELEGRAPH_WATCHAPP_BUNDLE_ID).watchkitextension
TELEGRAPH_WIDGET_BUNDLE_ID=$(TELEGRAPH_BUNDLE_ID).Widget
TELEGRAPH_INTENTS_BUNDLE_ID=$(TELEGRAPH_BUNDLE_ID).SiriIntents
